
<div id="container"  style="width: 100%; height: 100vh; " >
  <div style="margin-top: 150px;">
    <form [formGroup]="signUpFormGroup" id="form-sign-up" style=" margin: auto;
    width: 50%;
    padding: 30px;  ">
      <div class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password Again</label>
        <input type="password" formControlName="passwordAgain" class="form-control" id="exampleInputPassword1" placeholder="Password Again">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">I approve everything</label>
      </div>
      <button type="submit" (click)="signUp()" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
 
</div>