.example-form {
    min-width: 100%;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  #form-sign-up {
    background-color: #f3f3f3;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #aaaaaa;
 
  }