.example-form {
    max-width: 400px;
    border-radius: 20px;

  }
  
  .example-full-width {
    width: 100%;

  }

  html{
    background-position: center;
    background-repeat: no-repeat; 
  }
 #form-sign-in {
   background-color: #f3f3f3;
   border-radius: 20px;
   box-shadow: 10px 10px 5px #aaaaaa;

 }