<div id="container" style="width: 100%; height: 100vh; "  >
    <div class="container">
        <div style="padding-top: 300px;">
            <div style="background-color: #fff; width: 600px; margin: auto;
                width: 50%; border-radius: 15px;">
                <form style="margin: auto;
                width: 50%;
                padding-top: 55px; padding-bottom: 55px;" class="example-form">
                    <strong style="font-size: 25px; color: #000;">Sign In</strong>
        
                    <mat-form-field style="margin-top: 15px; color: #000;" class="example-full-width" appearance="fill">
                        <mat-label style="color: #000;">Email</mat-label>
                        <input  type="email" matInput placeholder="Email" />
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label style="color: #000;">Password</mat-label>
                        <input type="password" matInput placeholder="Password" />
                    </mat-form-field>
                    <button mat-raised-button color="warn">Sign In</button>
                </form>
            </div>
         
        </div>
    
    </div>
</div>
