<div class="container">
    <div class="row">
        <ul>
            <li class="w3-container w3-center w3-animate-bottom">


                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <div mat-card-image id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img height="250px" src="https://i.ytimg.com/vi/yCGvaIdY6bk/maxresdefault.jpg"
                                    class="d-block w-100" alt="...">

                            </div>
                            <div class="carousel-item">
                                <img height="250px"
                                    src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2020/03/931/523/Lord-of-the-rings-books.jpg?ve=1&tl=1"
                                    class="d-block w-100" alt="...">

                            </div>
                            <div class="carousel-item">
                                <img height="250px"
                                    src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2020/03/931/523/Lord-of-the-rings-books.jpg?ve=1&tl=1"
                                    class="d-block w-100" alt="...">

                            </div>
                            <div class="carousel-item">
                                <img height="250px"
                                    src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2020/03/931/523/Lord-of-the-rings-books.jpg?ve=1&tl=1"
                                    class="d-block w-100" alt="...">

                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small,
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-stroked-button color="accent">See Detail</button>
                        <button mat-raised-button color="primary">Add To Cart</button>

                    </mat-card-actions>
                </mat-card>

            </li>




















            <li class="w3-container w3-center w3-animate-bottom">


                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <div mat-card-image id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img height="250px" src="https://i.ytimg.com/vi/yCGvaIdY6bk/maxresdefault.jpg"
                                    class="d-block w-100" alt="...">

                            </div>
                            <div class="carousel-item">
                                <img height="250px"
                                    src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2020/03/931/523/Lord-of-the-rings-books.jpg?ve=1&tl=1"
                                    class="d-block w-100" alt="...">

                            </div>
                            <div class="carousel-item">
                                <img height="250px"
                                    src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2020/03/931/523/Lord-of-the-rings-books.jpg?ve=1&tl=1"
                                    class="d-block w-100" alt="...">

                            </div>
                            <div class="carousel-item">
                                <img height="250px"
                                    src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2020/03/931/523/Lord-of-the-rings-books.jpg?ve=1&tl=1"
                                    class="d-block w-100" alt="...">

                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small,
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-stroked-button color="accent">See Detail</button>
                        <button mat-raised-button color="primary">Add To Cart</button>

                    </mat-card-actions>
                </mat-card>

            </li>


            <li class="w3-container w3-center w3-animate-bottom">


                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <div mat-card-image id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img height="250px" src="https://i.ytimg.com/vi/yCGvaIdY6bk/maxresdefault.jpg"
                                    class="d-block w-100" alt="...">

                            </div>
                            <div class="carousel-item">
                                <img height="250px"
                                    src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2020/03/931/523/Lord-of-the-rings-books.jpg?ve=1&tl=1"
                                    class="d-block w-100" alt="...">

                            </div>
                            <div class="carousel-item">
                                <img height="250px"
                                    src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2020/03/931/523/Lord-of-the-rings-books.jpg?ve=1&tl=1"
                                    class="d-block w-100" alt="...">

                            </div>
                            <div class="carousel-item">
                                <img height="250px"
                                    src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2020/03/931/523/Lord-of-the-rings-books.jpg?ve=1&tl=1"
                                    class="d-block w-100" alt="...">

                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small,
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-stroked-button color="accent">See Detail</button>
                        <button mat-raised-button color="primary">Add To Cart</button>

                    </mat-card-actions>
                </mat-card>

            </li>

            <li class="w3-container w3-center w3-animate-bottom">


                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <div mat-card-image id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img height="250px" src="https://i.ytimg.com/vi/yCGvaIdY6bk/maxresdefault.jpg"
                                    class="d-block w-100" alt="...">

                            </div>
                            <div class="carousel-item">
                                <img height="250px"
                                    src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2020/03/931/523/Lord-of-the-rings-books.jpg?ve=1&tl=1"
                                    class="d-block w-100" alt="...">

                            </div>
                            <div class="carousel-item">
                                <img height="250px"
                                    src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2020/03/931/523/Lord-of-the-rings-books.jpg?ve=1&tl=1"
                                    class="d-block w-100" alt="...">

                            </div>
                            <div class="carousel-item">
                                <img height="250px"
                                    src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2020/03/931/523/Lord-of-the-rings-books.jpg?ve=1&tl=1"
                                    class="d-block w-100" alt="...">

                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small,
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-stroked-button color="accent">See Detail</button>
                        <button mat-raised-button color="primary">Add To Cart</button>

                    </mat-card-actions>
                </mat-card>

            </li>

        </ul>
    </div>
</div>