<div class="widget-header  mr-3">
    <div class="dropdown">
        <ng-container *ngIf="cartSummaryDtos.length >0; else elseTemplate">
            <a href="#" class="icon icon-sm rounded-circle border dropdown-toggle" d="dropdownMenuButton" role="button"
            data-toggle="dropdown"><i class="fa fa-shopping-cart"></i></a>
        <span class="badge badge-pill badge-danger notify">{{cartSummaryDtos.length}}</span>
        </ng-container>
        <ng-template #elseTemplate>
            
        </ng-template>
        
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <ul>
                <li *ngFor="let cartSummary of cartSummaryDtos" class="dropdown-item">
                    <div class="card mb-3" style="width: 300px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img class="bd-placeholder-img" width="100%" height="100px"
                                src="https://localhost:44303{{cartSummary.images[0]}}"
                                    aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" role="img" />

                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{cartSummary.product.productName}}</h5>
                                    <p class="card-text">${{cartSummary.product.productPrice *cartSummary.count}}</p>
                                    <strong style="font-size: 12px;">Quantity {{cartSummary.count}}  </strong>
                                    <a (click)="removeToCart(cartSummary)"><i style="color: red;" class="far fa-times-circle fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                       <button  witdh="100%"  mat-stroked-button color="accent" routerLink="/order-detail">See Order Detail</button>

            </ul>

        </div>
    </div>
</div>
