<app-navbar></app-navbar>

<router-outlet></router-outlet> 
<app-footer></app-footer>

<!--
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Category products</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Best category</a></li>
                <li class="breadcrumb-item active" aria-current="page">Great articles</li>
            </ol>
        </nav>
    </div> 



-----------------
    <app-product-detail> </app-product-detail>



    <app-sign-up></app-sign-up>
    <app-sign-in></app-sign-in>

<app-category-add></app-category-add>

<app-navbar></app-navbar>
<app-category></app-category>   
<app-product></app-product>
<app-product-add></app-product-add>
<app-offers></app-offers>
<app-suggetions></app-suggetions>

<app-user-settings></app-user-settings>



-->